body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

#map-container {
    position: relative;
}

#map-image {
    width: 800px;
    height: auto;
}

#player {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
}